<!DOCTYPE html>
<html lang="en">
<head>
  <%- include header.ejs %>
</head>
<body>
  <%- include navigation.ejs %>
  <section class="content">
    <div class="container">
      master
    </div>
  </section>
  <%- include script.ejs %>
</body>
</html>
