<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ../header.ejs %>
</head>
<body>
  <%- include ../navigation.ejs %>
  <section class="content">
    <div class="container">
      <div class="jumbotron">
        <h1>ShopEasy</h1>
        <p>Makes everything simple</p>
        <p><a class="btn btn-primary btn-lg" href="/items" role="button">Items Page</a></p>
      </div>
    </div>
  </section>
  <%- include ../script.ejs %>
</body>
</html>
